body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #E8E8E8;
}

.navbar-brand img {
    width: 65px;
}

.container{
    h2 {
        text-align: center;
    }
    text-align: justify;
    background-color: #E8E8E8;
}